{% extends "base.html" %}

{% block content %}
{% load cloudinary %}

<div class="min-h-screen flex flex-col items-center justify-center bg-gray-100">
    <!-- Heading -->
    <h2 class="text-3xl font-bold mb-8">Add a New Book</h2>

    <!-- Form and Image Container -->
    <div class="flex items-start space-x-8">
        <!-- Form Section -->
        <form method="post" enctype="multipart/form-data" class="space-y-4 w-96"> <!-- Adjust width as needed -->
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="border border-gray-400 px-4 py-2 bg-orange-300 text-white rounded hover:bg-orange-400">
                Save Book
            </button>
        </form>

        <!-- Image Section -->
        <div class="w-80 h-auto"> <!-- Set width to control the image size -->
            <p  >{% cloudinary 'create_book_pxzsay' %}</p>
        </div>
    </div>
</div>
{% endblock %}
