{% extends "base.html" %}

{% block content %}
    <div class="container mx-auto py-8">

        <h1 class="text-3xl font-bold text-center mb-6">{{ genre.name }}</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

            <div class="bg-gray-100 p-6 rounded-lg shadow-md">
                <h2 class="text-2xl font-semibold mb-4">Description</h2>
                <p class="text-gray-700">{{ genre.description }}</p>
                {% if user.is_staff %}
                    <div class="mt-4">
                        <a href="{% url 'genre_edit' genre.id %}"
                           class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Edit</a>
                        <a href="{% url 'genre_delete' genre.id %}"
                           class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">Delete</a>
                    </div>
                {% endif %}
            </div>

            <div>
                <h2 class="text-2xl font-semibold mb-4">{{ genre.name }} Books:</h2>
                <ul class="space-y-4">
                    {% for book in books %}
                        <li class="bg-white p-4 rounded-lg shadow hover:bg-gray-100">
                            <a href="{% url 'book_details' book.id %}"
                               class="text-xl font-bold text-orange-500 hover:underline">
                                {{ book.title }}
                            </a>
                            by <a href="{% url 'author_details' book.author.id %}"
                                  class="text-xl font-bold text-orange-500 hover:underline">{{ book.author.full_name }}</a>
                        </li>
                    {% empty %}
                        <p class="text-gray-500">No books available in this genre.</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
